@import url("base.css");
.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "questions image"
    ;
}
@media(max-width: 1000px) {
    .content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "questions"
            "image"
        ;
    }
}
@media(max-width: 750px) {
    .content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "questions"
        ;
    }
}
.questions {
    display: grid;
    grid-area: questions;
}
.figure {
    display: grid;
    grid-area: image;
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
    grid-template-areas:
        "imge"
        "captione"
    ;
}
.img {
    display: flex;
    grid-area: imge;
    padding: 1em;
    width: 55%;
    margin-left: auto;
    margin-right: auto;

}
#q {
    color: darkslateblue;
}
#a {
    color: dodgerblue;
}