@import url("base.css");
@import url("windowconformer.css");
@import url("cards.css");
.blog {
    display: flex;
    align-items: space-evenly;
    justify-items: space-evenly;
    gap: 200px;
    border: blue 4px solid;
    margin: auto;
    padding: auto;
    height: 500px;
    width: 25%;
    background-color: dodgerblue;
}
.blog:hover {
    border-radius: 8mm;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: hotpink;
}
