img {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
figcaption {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}